<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div id="logo">
                <!-- add your logo image here-->
                <img src="{{url_for('static', filename='fairfieldUniversityLogo.png')}}" alt="Logo" height="150"
                    width="150">
            </div>

            <i class="fa-solid fa-comments"></i><button onclick="startNewChat()">New chat </button>

            <!--Dropown menu for selecting language-->
            <div id="language-select-sidebar" class="language-container">
                <i class="fa-solid fa-earth-americas"></i>
                <select id="language-select">
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="pr">Portuguese</option>
                </select>
            </div>

            <i class="fa-brands fa-spotify"></i><button onclick="handleSpotifyClick()">Spotify</button>
            <i class="fa-solid fa-map-location-dot"></i><button onclick="handleGraphHopperClick">Map</button>

        </div>
        <div class="chat-container">
            <ul class="chat">
                <li class="message">Hello, how can I assist you?</li>
                <!-- Previous messages go here -->
            </ul>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button id="send-button" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
